
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

// Variables
@import 'variables';

@import 'argon';
//1cbe9d
// Bootstrap
@import '~bootstrap/scss/bootstrap';
body {
	font-family: 'Montserrat', sans-serif;
}
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.addbtn {
	border-radius: 50%;
	padding: 10px;
}

.haha {
	color: red;
}
.onsocial {

}
// ul {
// 	position: absolute;
// 	left: 3px;
// 	bottom: 3px;
// 	display: flex;
// 	li {
// 		position: relative;
// 		list-style: none;
// 		width: 40px;
// 		height: 40px;
// 		margin: 0 20px;
// 		transform: rotate(-30deg) skew(25deg);
// 		background: #ccc !important;
// 		span {
// 			position: absolute;
// 			top: 0;
// 			left: 0;
// 			width: 100%;
// 			height: 100%;
// 			background: #000;
// 			transition: 0.5s;
// 			display: flex;
// 			align-items: center;
// 			justify-content: center;
// 			color: #fff;
// 			font-size: 20px;
// 		}
// 	}
// 	li:hover span:nth-child(5) {
// 		transform: translate(24px, -24px);
// 		opacity: 1;
// 	}
// 	li:hover span:nth-child(4) {
// 		transform: translate(18px, -18px);
// 		opacity: .8;
// 	}
// 	li:hover span:nth-child(3) {
// 		transform: translate(12px, -12px);
// 		opacity: .6;
// 	}
// 	li:hover span:nth-child(2) {
// 		transform: translate(6px, -6px);
// 		opacity: .4;
// 	}
// 	li:hover span:nth-child(1) {
// 		transform: translate(0, 0);
// 		opacity: .2;
// 	}
// 	li:nth-child(1) span {
// 		background: #3b5999;
// 	}
// 	li:nth-child(2) span {
// 		background: #000000;
// 	}
// 	li:nth-child(3) span {
// 		background: #e4405f;
// 	}
// 	li:nth-child(4) span {
// 		background: #0077b5;
// 	}
// 	li:nth-child(5) span {
// 		background: #dd4b39;
// 	}
// 	li:hover span {
// 		box-shadow: -1px 1px 1px rgba(0,0,0,.1);
// 	}
// } 

.back {
	background: url('https://res.cloudinary.com/domjrciss/image/upload/v1554128999/BIT%20Project/wall1.jpg');
	background-size: cover;
	// display: flex;
	// justify-content: center;
	margin: 0;
	padding: 0;
	height: 100vh;
}

.steps {
	width: 100vw;
}
#fb {
	background: #3b5998 !important;
	color: #fff;
	cursor: pointer;
	&:hover {
		background: #fff !important;
		color: #3b5998;
		transition:color .2s ease-out, background .5s ease-in;
	}
}

#ig {
	background: #fb3958 !important;
	color: #fff;
	cursor: pointer;
	&:hover {
		background: #fff !important;
		color: #fb3958;
		transition:color .2s ease-out, background .5s ease-in;
	}
}

#tt {
	background: #38a1f3 !important;
	color: #fff;
	cursor: pointer;
	&:hover {
		background: #fff !important;
		color: #38a1f3;
		transition:color .2s ease-out, background .5s ease-in;
	}
}

#li {
	background: #0077b5 !important;
	color: #fff;
	cursor: pointer;
	&:hover {
		background: #fff !important;
		color: #0077b5;
		transition:color .2s ease-out, background .5s ease-in;
	}
}

.option-box {
	background: #ffffff;
    margin-top: 18vh;
    margin-left: 9vw;
    text-align: center;
    width: 30%;
    padding-top: 3vh;
    box-shadow: 0px 0px 36px 12px rgba(0,0,0,0.18);
	.button1 {
		background: #ffffff;
	    color: #f47c48;
	    border: 1px solid #f47c48;
	    border-radius: 3px;
	    padding: 10px 30px;
	    margin-bottom: 3vh;
	}
	.button2 {
		background: #f47c48;
	    color: #ffffff;
	    border: none;
	    box-shadow: 0px 0px 18px 3px rgba(0, 0, 0, 0.20);
	    border-radius: 3px;
	    padding: 10px 30px;
	    margin-bottom: 3vh;
	}
}

.add-item{
	border: none;
	outline: none;
	padding: 0.3em 1.6em;
	color: #fff;
	background: #5BBD50;
	font-size: 1.4em;
	font-weight: 700;
	font-family: 'Lobster Two', cursive;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
	text-decoration: none;
}

.customSelect {
	padding: 0 5px;
	.select {
		position: relative;
		background: #fff;
		border: 1px solid #1cbe9d;
		height: 50px;
		cursor: pointer;
	}
	.select:focus {
		outline: none;
	}
	.select:before {
		content: '';
		background: #1cbe9d;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		width: 40px;
		pointer-events: none;
	}
	.select:after {
		content: '';
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 10px 7px 0;
		border-color: #fff transparent transparent transparent;
		position: absolute;
		top: 50%;
		right: 11px;
		transform: translateY(-50%);
	}
	select{
		width: 100%;
		height: 100%;
		background: none;
		border: none;
		-webkit-webkit-appearance: none;
		padding: 0 50px 0 20px;
		cursor: pointer;
		font: 300 18px/1.5 'Roboto', sans-serif;
		text-indent: 5px;
	}
	option {
		font: 300 18px/1.5 'Roboto', sans-serif;
	}	
}
.btnfz a {
	font-size: 12px;
}